<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <style>
        div{
            margin-top: 50px;
        }
        .panel{
            max-width:300px;
            border:1px solid #999;
            margin-bottom: 15px;
        }
        .panel >*{
            padding: 15px;
        }
        .panel .title{
            border-bottom:1px solid #999;
        }
        .panel .footer{
            border-top:1px solid #999;
        }
    </style>
</head>
<body>

<!--组件-->
<!--<div id="app">-->
    <!--<alert></alert>-->
<!--</div>-->















<!--v-model用户输入双向绑定-->
<!--<div id="app">-->
  <!--<div>-->
    <!--<input v-model.trim="message" placeholder="edit me">-->
    <!--<p>Message is: {{ message }}</p>-->
  <!--</div>-->
<!--</div>-->

<!--过滤器-->
<!--<div id="app">-->
    <!--<div>-->
        <!--<input type="text" v-model="length" />-->
        <!--{{length | meter()}}-->
    <!--</div>-->
    <!--<div>-->
        <!--<input type="text" v-model="price" />-->
        <!--{{ price | currency('usd') }}-->
    <!--</div>-->
<!--</div>-->


<!--自定义指令-->
<!--<div id="app">-->
    <!--<div class="card" v-pin="card1.pinned">-->
        <!--<button @click="card1.pinned = !card1.pinned">定住/取消1</button>-->
        <!--Download the Vue Devtools extension fo-->
    <!--</div>-->
    <!--<div class="card" v-pin="card2.pinned">-->
        <!--<button @click="card2.pinned = !card2.pinned">定住/取消2</button>-->
        <!--Download the Vue Devtools extension fo-->
    <!--</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
<!--</div>-->

<!--自定义指令传参-->
<!--<div id="app">-->
    <!--<div class="card" v-pin:true.bottom.left="card1.pinned">-->
        <!--<button @click="card1.pinned = !card1.pinned">定住/取消1</button>-->
        <!--Download the Vue Devtools extension fo-->
    <!--</div>-->
    <!--<div class="card" v-pin.bottom.right="card2.pinned">-->
        <!--<button @click="card2.pinned = !card2.pinned">定住/取消2</button>-->
        <!--Download the Vue Devtools extension fo-->
    <!--</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
    <!--<div>Download the Vue Devtools extension fo</div>-->
<!--</div>-->

 <!--混合指令（重复功能和数据的储存器）-->
<!--<div id="app">-->
    <!--<tooltip></tooltip>-->
    <!--<popup></popup>-->
<!--</div>-->


<!--插槽slots-->
<div id="app">
    <panel><div slot="title">yoyoyo</div><div slot="content">nininininini</div><div slot="footer">更多信息</div></panel>
    <panel><div slot="title">2</div></panel>
    <panel><div slot="title">3</div></panel>
</div>
<template id="panel-tpl">
    <div class="panel">
        <div class="title"><slot name="title">默认值</slot></div>
        <div class="content"><slot name="content">默认值</slot></div>
        <div class="footer"><slot name="footer">默认值</slot></div>
    </div>
</template>


<script src="../js/lib/vue.js"></script>
<script src="../js/main.js"></script>
</body>
</html>